# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
ag2=0.8.6=pypi_0
aiofiles=23.2.1=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.9.0=pypi_0
asyncer=0.0.8=pypi_0
ca-certificates=2025.2.25=hca03da5_0
certifi=2025.1.31=pypi_0
charset-normalizer=3.4.1=pypi_0
click=8.1.8=pypi_0
contourpy=1.3.0=pypi_0
cycler=0.12.1=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
docker=7.1.0=pypi_0
elastic-transport=8.17.1=pypi_0
elasticsearch=8.17.2=pypi_0
exceptiongroup=1.2.2=pypi_0
fastapi=0.115.12=pypi_0
ffmpy=0.5.0=pypi_0
filelock=3.18.0=pypi_0
fonttools=4.57.0=pypi_0
fsspec=2025.3.2=pypi_0
gradio=4.44.1=pypi_0
gradio-client=1.3.0=pypi_0
grpcio=1.71.0=pypi_0
grpcio-tools=1.71.0=pypi_0
h11=0.14.0=pypi_0
h2=4.2.0=pypi_0
hpack=4.1.0=pypi_0
httpcore=1.0.8=pypi_0
httpx=0.28.1=pypi_0
huggingface-hub=0.30.2=pypi_0
hyperframe=6.1.0=pypi_0
idna=3.10=pypi_0
importlib-resources=6.5.2=pypi_0
isodate=0.7.2=pypi_0
jinja2=3.1.6=pypi_0
jiter=0.9.0=pypi_0
joblib=1.4.2=pypi_0
kiwisolver=1.4.7=pypi_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_1
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.9.4=pypi_0
mdurl=0.1.2=pypi_0
mpmath=1.3.0=pypi_0
ncurses=6.4=h313beb8_0
networkx=3.2.1=pypi_0
numpy=2.0.2=pypi_0
openai=1.74.0=pypi_0
openssl=3.0.16=h02f6b3c_0
orjson=3.10.16=pypi_0
owlready2=0.47=pypi_0
packaging=24.2=pypi_0
pandas=2.2.3=pypi_0
pillow=10.4.0=pypi_0
pip=25.0=py39hca03da5_0
portalocker=2.10.1=pypi_0
protobuf=5.29.4=pypi_0
pyautogen=0.8.6=pypi_0
pydantic=2.11.3=pypi_0
pydantic-core=2.33.1=pypi_0
pydub=0.25.1=pypi_0
pygments=2.19.1=pypi_0
pyparsing=3.2.3=pypi_0
python=3.9.21=hb885b13_1
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.1.0=pypi_0
python-multipart=0.0.20=pypi_0
pytz=2025.2=pypi_0
pyyaml=6.0.2=pypi_0
qdrant-client=1.13.3=pypi_0
rdflib=7.1.4=pypi_0
readline=8.2=h1a28f6b_0
regex=2024.11.6=pypi_0
requests=2.32.3=pypi_0
rich=14.0.0=pypi_0
ruff=0.11.5=pypi_0
safetensors=0.5.3=pypi_0
scikit-learn=1.6.1=pypi_0
scipy=1.13.1=pypi_0
semantic-version=2.10.0=pypi_0
sentence-transformers=4.0.2=pypi_0
setuptools=75.8.0=py39hca03da5_0
shellingham=1.5.4=pypi_0
six=1.17.0=pypi_0
sniffio=1.3.1=pypi_0
sparqlwrapper=2.0.0=pypi_0
sqlite=3.45.3=h80987f9_0
starlette=0.46.2=pypi_0
sympy=1.13.1=pypi_0
termcolor=3.0.1=pypi_0
threadpoolctl=3.6.0=pypi_0
tiktoken=0.9.0=pypi_0
tk=8.6.14=h6ba3021_0
tokenizers=0.21.1=pypi_0
tomlkit=0.12.0=pypi_0
torch=2.6.0=pypi_0
tqdm=4.67.1=pypi_0
transformers=4.51.3=pypi_0
typer=0.15.2=pypi_0
typing-extensions=4.13.2=pypi_0
typing-inspection=0.4.0=pypi_0
tzdata=2025.2=pypi_0
urllib3=2.4.0=pypi_0
uvicorn=0.34.1=pypi_0
websockets=12.0=pypi_0
wheel=0.45.1=py39hca03da5_0
xz=5.6.4=h80987f9_1
zipp=3.21.0=pypi_0
zlib=1.2.13=h18a0788_1
