absl-py=2.1.0=pypi_0
aiohappyeyeballs=2.4.4=pypi_0
aiohttp=3.11.11=pypi_0
aiosignal=1.3.2=pypi_0
amqp=5.3.1=pypi_0
anyio=3.7.1=pypi_0
appdirs=1.4.4=pypi_0
arrow=1.3.0=pypi_0
astor=0.8.1=pypi_0
async-timeout=5.0.1=pypi_0
atpublic=5.1=pypi_0
attrdict=2.0.1=pypi_0
attrs=24.3.0=pypi_0
babel=2.12.1=pypi_0
bayesian-optimization=2.0.3=pypi_0
bce-python-sdk=0.8.87=pypi_0
beautifulsoup4=4.12.3=pypi_0
billiard=3.6.4.0=pypi_0
blinker=1.6.2=pypi_0
boto3=1.28.85=pypi_0
botocore=1.31.85=pypi_0
bravado=11.0.3=pypi_0
bravado-core=6.1.1=pypi_0
ca-certificates=2023.05.30=hca03da5_0
cachetools=5.3.0=pypi_0
celery=5.2.7=pypi_0
certifi=2023.5.7=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.2.0=pypi_0
click=8.1.4=pypi_0
click-didyoumean=0.3.1=pypi_0
click-plugins=1.1.1=pypi_0
click-repl=0.3.0=pypi_0
colorama=0.4.6=pypi_0
configobj=5.0.9=pypi_0
confluent-kafka=1.9.2=pypi_0
contourpy=1.1.0=pypi_0
cryptocompare=0.7.6=pypi_0
cssselect=1.2.0=pypi_0
cssutils=2.7.1=pypi_0
cycler=0.11.0=pypi_0
cython=0.29.36=pypi_0
decorator=5.1.1=pypi_0
deeprobust=0.2.11=pypi_0
dictdiffer=0.9.0=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
dpath=2.2.0=pypi_0
dulwich=0.22.8=pypi_0
dvc=2.0.18=pypi_0
elasticsearch=7.12.1=pypi_0
entity-utils=0.1=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.1.2=pypi_0
filelock=3.16.1=pypi_0
filetype=1.2.0=pypi_0
flask=2.3.2=pypi_0
flask-babel=3.1.0=pypi_0
flatten-dict=0.4.2=pypi_0
flufl-lock=3.2=pypi_0
fonttools=4.40.0=pypi_0
fqdn=1.5.1=pypi_0
frozendict=2.4.6=pypi_0
frozenlist=1.5.0=pypi_0
fsspec=0.9.0=pypi_0
funcy=2.0=pypi_0
future=0.18.3=pypi_0
gensim=4.3.3=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
google-auth=2.23.3=pypi_0
google-auth-oauthlib=1.1.0=pypi_0
grandalf=0.6=pypi_0
grpcio=1.56.0=pypi_0
grpcio-tools=1.56.0=pypi_0
gspread=5.11.3=pypi_0
h11=0.14.0=pypi_0
h2=4.1.0=pypi_0
hpack=4.0.0=pypi_0
html5lib=1.1=pypi_0
httpcore=0.17.3=pypi_0
httplib2=0.22.0=pypi_0
httpx=0.24.1=pypi_0
huggingface-hub=0.28.1=pypi_0
hvac=0.11.2=pypi_0
hyperframe=6.0.1=pypi_0
idna=3.4=pypi_0
imageio=2.31.1=pypi_0
imgaug=0.4.0=pypi_0
immutabledict=2.2.5=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.0.0=pypi_0
iniconfig=2.1.0=pypi_0
isoduration=20.11.0=pypi_0
isort=5.13.2=pypi_0
itsdangerous=2.1.2=pypi_0
jinja2=3.1.2=pypi_0
jiter=0.9.0=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
jq=1.8.0=pypi_0
jsonpath-ng=1.7.0=pypi_0
jsonpointer=3.0.0=pypi_0
jsonref=1.1.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
kafka-python=2.0.2=pypi_0
kafka-utils=0.1=pypi_0
kiwisolver=1.4.4=pypi_0
kombu=5.5.0=pypi_0
kubernetes=26.1.0=pypi_0
lanms-neo=1.0.2=pypi_0
lazy-loader=0.3=pypi_0
lb-common=0.1=pypi_0
lb-confluent-kafka-utils=0.1=pypi_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_0
linkify-it-py=2.0.3=pypi_0
littleutils=0.2.4=pypi_0
llvmlite=0.43.0=pypi_0
lmdb=1.4.1=pypi_0
logger-utils=0.1=pypi_0
lxml=4.9.3=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markitdown=0.0.1a1=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.7.2=pypi_0
mdit-py-plugins=0.4.2=pypi_0
mdurl=0.1.2=pypi_0
memray=1.15.0=pypi_0
mongo-utils=0.1=pypi_0
monotonic=1.6=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.1.0=pypi_0
multidict=6.1.0=pypi_0
multitasking=0.0.11=pypi_0
mysql-connector-python=9.2.0=pypi_0
nameparser=1.0.6=pypi_0
nanotime=0.5.2=pypi_0
ncurses=6.4=h313beb8_0
neptune=1.13.0=pypi_0
networkx=3.1=pypi_0
numba=0.60.0=pypi_0
numpy=1.26.4=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.2.2=pypi_0
ogb=1.3.6=pypi_0
openai=1.68.2=pypi_0
opencv-contrib-python=4.6.0.66=pypi_0
opencv-python=4.6.0.66=pypi_0
openpyxl=3.1.2=pypi_0
openssl=3.0.9=h1a28f6b_0
opt-einsum=3.3.0=pypi_0
outdated=0.2.2=pypi_0
packaging=23.1=pypi_0
paddle-bfloat=0.1.7=pypi_0
paddlepaddle=2.5.0=pypi_0
pandas=2.2.3=pypi_0
pathspec=0.9.0=pypi_0
peewee=3.17.8=pypi_0
phonenumbers=8.12.57=pypi_0
pillow=10.0.0=pypi_0
pip=23.1.2=py39hca03da5_0
platformdirs=4.3.6=pypi_0
pluggy=1.5.0=pypi_0
ply=3.11=pypi_0
polygon3=3.0.9.1=pypi_0
portalocker=2.7.0=pypi_0
premailer=3.10.0=pypi_0
probableparsing=0.0.1=pypi_0
prompt-toolkit=3.0.50=pypi_0
propcache=0.2.1=pypi_0
protobuf=4.25.6=pypi_0
psutil=5.9.5=pypi_0
py=1.11.0=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pyclipper=1.3.0.post4=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.18.0=pypi_0
pydantic=1.10.11=pypi_0
pydot=1.4.2=pypi_0
pygit2=1.15.1=pypi_0
pygments=2.18.0=pypi_0
pygtrie=2.3.2=pypi_0
pyjwt=2.10.1=pypi_0
pymongo=3.12.3=pypi_0
pyparsing=2.4.7=pypi_0
pypdf2=3.0.1=pypi_0
pytest=8.3.5=pypi_0
python=3.9.17=hb885b13_0
python-benedict=0.34.1=pypi_0
python-crfsuite=0.9.11=pypi_0
python-crontab=3.1.0=pypi_0
python-dateutil=2.8.2=pypi_0
python-dotenv=1.0.1=pypi_0
python-fsutil=0.15.0=pypi_0
python-graphviz=0.20.3=pypi_0
python-slugify=8.0.4=pypi_0
pytz=2023.3=pypi_0
pywavelets=1.4.1=pypi_0
pyyaml=6.0.2=pypi_0
qdrant-client=1.3.1=pypi_0
rapidfuzz=3.1.1=pypi_0
rarfile=4.0=pypi_0
readline=8.2=h1a28f6b_0
redis=5.0.8=pypi_0
redis-utils=0.1=pypi_0
referencing=0.36.1=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
retry=0.9.2=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.9.4=pypi_0
rpds-py=0.22.3=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.18.10=pypi_0
ruamel-yaml-clib=0.2.12=pypi_0
s3transfer=0.7.0=pypi_0
scikit-image=0.21.0=pypi_0
scikit-learn=1.6.0=pypi_0
scipy=1.11.1=pypi_0
setuptools=67.8.0=py39hca03da5_0
shapely=2.0.1=pypi_0
shortuuid=1.0.13=pypi_0
shtab=1.7.1=pypi_0
simplejson=3.19.3=pypi_0
singleton-decorator=1.0.0=pypi_0
six=1.16.0=pypi_0
smart-open=7.1.0=pypi_0
smmap=5.0.2=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.6=pypi_0
sqlite=3.41.2=h80987f9_0
swagger-spec-validator=3.0.4=pypi_0
sympy=1.13.1=pypi_0
tabulate=0.8.10=pypi_0
tensorboard=2.18.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorboardx=2.6.2.2=pypi_0
text-unidecode=1.3=pypi_0
texttable=1.7.0=pypi_0
textual=1.0.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tifffile=2023.7.4=pypi_0
tika-utils=0.1=pypi_0
tk=8.6.12=hb8d0fd4_0
toml=0.10.2=pypi_0
tomli=2.2.1=pypi_0
torch=2.5.1=pypi_0
torch-cluster=1.6.3=pypi_0
torch-geometric=2.6.1=pypi_0
torch-scatter=2.1.2=pypi_0
torch-sparse=0.6.18=pypi_0
torch-spline-conv=1.2.2=pypi_0
torchvision=0.20.1=pypi_0
tqdm=4.65.0=pypi_0
types-python-dateutil=2.9.0.20241206=pypi_0
typing-extensions=4.5.0=pypi_0
tzdata=2025.1=pypi_0
uc-micro-py=1.0.3=pypi_0
uri-template=1.3.0=pypi_0
urllib3=1.26.16=pypi_0
usaddress=0.5.12=pypi_0
vault-utils=0.1=pypi_0
vine=5.1.0=pypi_0
visualdl=2.5.3=pypi_0
voluptuous=0.15.2=pypi_0
wcwidth=0.2.13=pypi_0
webcolors=24.11.1=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
werkzeug=2.3.6=pypi_0
wheel=0.38.4=py39hca03da5_0
wrapt=1.17.2=pypi_0
xxhash=3.5.0=pypi_0
xz=5.4.2=h80987f9_0
yarl=1.18.3=pypi_0
yfinance=0.2.50=pypi_0
zc-lockfile=3.0.post1=pypi_0
zipp=3.15.0=pypi_0
zlib=1.2.13=h5a0b063_0
